<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Teacher</title>
    <link rel="stylesheet" href="styles.css">
</head>

<div th:fragment="header" class="header">
    <h1>
        <a href="/">Home Teacher</a>
    </h1>

    <div class="menu">
        <a href="produtos">Produtos</a>
        <a href="sobre">Sobre</a>
        <a href="contato">Contato</a>
    </div>
</div>