<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>

<div th:insert="fragments :: header"></div>

<div class="products">
    <div>
        <h2>Groger</h2>
        <img src="https://avatars2.githubusercontent.com/u/25519652?s=460&v=4" alt="Groger">
        <p>Java, CSS, Crossfit</p>
    </div>

    <div>
        <h2>Bia</h2>
        <img src="https://yt3.ggpht.com/-uGYJvczbuow/AAAAAAAAAAI/AAAAAAAAAAA/VQbgt1FitYs/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="Bia">
        <p>Produtos, Dinâmica de Bolinhas, Fotogênica</p>
    </div>

    <div>
        <h2>Jefferson</h2>
        <img src="https://ca.slack-edge.com/T0H0X9D37-UNXCQGQMT-7a4ce6db74ac-512" alt="Jefferson">
        <p>Java, Ninja dos Canetões</p>
    </div>
</div>
</body>
</html>